
header {
    display: flex;
    justify-content: space-between;
    padding: 7px 23px;
    width: 100%;
    height: 88px;
    overflow: hidden;
    z-index: 9;
}

header section,
header section:first-of-type div {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

header section a {
    cursor: pointer;
}

header section:first-of-type {
    max-width: 180px;
    width: 80%;
}

header section:last-of-type {
    max-width: 180px;
    width: 20%;
}

header section:first-of-type a[tag="logo"] {
    width: 100%;
}

header section:first-of-type a[tag="hamburger"] svg {
    width: 20px;
    height: 20px;
}

header section img[alt="logo"] {
    width: 100px;
    height: 70px;
}

/* Sub Header */
section[tag="sub-hearder"] {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 100%;
    min-height: 28px;
    padding: 5px;
    background: var(--theme-primary);
    border-bottom: .1rem solid rgba(var(--color-foreground), .08);
}

section[tag="sub-hearder"] span {
    text-align: center;
    color: var(--font-primary);
    font-weight: 600;
    line-height: 15.6px;
    word-break: break-word;
}

/* BANNERS */
#banner-primary-1 {
    margin-top: -88px;
}

section[tag="banner"] {
    width: 100%;
    margin-bottom: 20px;
    z-index: 3;
}

section[tag="banner"] img {
    width: 100%;
}

section[tag="banner"] a {
    cursor: pointer;
}

/* Banner Two Columns */
section[tag="banner-two-columns"] {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
    z-index: 3;
    margin: 20px 0;
}

section[tag="banner-two-columns"] img {
    width: 100%;
}

section[tag="banner-two-columns"] a {
    position: relative;
    width: 100%;
    cursor: pointer;
}

section[tag="banner-two-columns"] a > div {
    position: absolute;
    display: grid;
    place-content: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
}

section[tag="banner-two-columns"] a > div h2 {
    color: var(--white);
    text-align: center;
    font-size: 43px;
    width: 80%;
    margin: 0 auto;
}

section[tag="banner-two-columns"] a > div span {
    color: var(--white);
    text-align: center;
    font-size: 15px;
    width: 80%;
    margin: 0 auto;
}

/* Nav Menu */
nav[tag="nav-menu"] {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    max-width: 486px;
    width: 100%;
    height: 100%;
    padding: 15px;
    margin-top: 28px;
    background: var(--white);
    overflow: auto;
    z-index: 99999;
}

a[tag="close-nav"] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin-top: 28px;
    background-color: rgba(48, 48, 48, 0.116);
    z-index: 99;
    cursor: pointer;
}

nav[tag="nav-menu"] div[tag="head-nav"] {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 16px;
    width: 100%;
}

nav[tag="nav-menu"] div[tag="head-nav"] a:first-of-type {
    width: 40px;
}

nav[tag="nav-menu"] div[tag="head-nav"] a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2px;
    height: 50px;
    width: calc( (100% - 40px) / 4);
    font-size: 14px;
    color: var(--font-primary);
    border-bottom: 1px var(--outline-divider-menu) solid;
    cursor: pointer;
}

nav[tag="nav-menu"] div[tag="head-nav"] a.active {
    border-bottom: 1px var(--outline-divider-alt) solid;
    background: var(--background-emphasis);
}

nav[tag="nav-menu"] div[tag="head-nav"] div[tag="close-nav"] {
    position: absolute;
    right: -50px;
    left: unset;
    top: 10px;
    height: 50px;
    width: 50px;
    background: var(--white);
}

nav[tag="nav-menu"] div[tag="content-nav"] {
    display: flex;
    gap: 20px;
    flex-direction: column;
    width: 100%;
    padding: 10px;
    overflow: hidden;
}

nav[tag="nav-menu"] div[tag="content-nav"] a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    color: var(--font-primary);
    padding: 12px;
    border-bottom: 1px solid var(--background-line-menu);
    cursor: pointer;
}

nav[tag="nav-menu"] div[tag="footer-nav"] {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: hidden;
}

nav[tag="nav-menu"] div[tag="footer-nav"] > div:first-of-type {
    display: flex;
    gap: 15px;
    flex-direction: column;
    color: var(--font-primary);
    margin-bottom: 25px;
}

nav[tag="nav-menu"] div[tag="footer-nav"] img {
    width: 100%;
}

nav[tag="nav-menu"] div[tag="sub-menu-nav"] {
    display: flex;
    gap: 15px;
    flex-direction: column;
}

nav[tag="nav-menu"] div[tag="sub-menu-nav"] a:first-of-type {
    display: flex;
    align-items: center;
    color: var(--font-primary);
}

nav[tag="nav-menu"] div[tag="sub-menu-nav"] a[tag="see-all-category"] {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--font-primary);
    padding: 0 20px;
    cursor: pointer;
}

nav[tag="nav-menu"] div[tag="sub-menu-nav"] div[tag="list-sub-menu"] {
    margin-top: 13px;
    display: flex;
    gap: 12px;
    flex-direction: column;
    padding: 0 20px;
}

nav[tag="nav-menu"] div[tag="footer-nav"] div[tag="line"] {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px;
    width: 100%;
    border-top: var(--outline-divider) 1px solid;
}

nav[tag="nav-menu"] div[tag="footer-nav"] div[tag="line"]:last-of-type {
    justify-content: center;
    margin-bottom: 60px;
    border-bottom: var(--outline-divider) 1px solid;
}

/* Footer */
footer[tag="footer"] {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    width: 100%;
    min-height: 350px;
    padding: 20px;
    background: var(--background-principal-footer);
    color: var(--text-color-text-footer);
}

footer[tag="footer"] > section:first-of-type {
    height: 80%;
    width: 100%;
}

footer[tag="footer"] > section:last-of-type {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
    border-top: 1px solid var(--outline-divider-alt);
    height: 20%;
    width: 100%;
}

footer[tag="footer"] > section:last-of-type div:first-of-type {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}

footer[tag="footer"] > section:first-of-type {
    display: flex;
    flex-wrap: wrap;
    min-height: 247px;
}

footer[tag="footer"] > section:first-of-type div[tag="head-option"] {
    margin: 10px;
    max-width: max(calc(25% - 20px), 200px);
    width: 100%;
}

footer[tag="footer"] > section:first-of-type div[tag="head-option"] > div:first-of-type {
    padding: 10px;
    height: 40px;
    border-bottom: 1px solid var(--outline-divider);
}

footer[tag="footer"] > section:first-of-type > div[tag="head-option"]:last-of-type > div {
    border-bottom: unset;
}

footer[tag="footer"] > section:first-of-type 
div[tag="head-option"] > div:first-of-type {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer[tag="footer"] > section:first-of-type 
div[tag="head-option"] > div[tag="social-network"] {
    display: flex;
    justify-content: center;
    padding: 10px;
    height: 40px;
}

footer[tag="footer"] > section:first-of-type 
div[tag="head-option"] > div[tag="list"] {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    padding: 20px;
}

footer[tag="footer"] > section:first-of-type 
div[tag="head-option"] > div[tag="newsletter"] {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: auto;
}

/* Cards */
div[tag="slider"] {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

div[tag="slider"] > div {
    padding: 6px;
    overflow: hidden;
}

div[tag="slider"] > div:first-of-type {
    height: 800px;
}

div[tag="slider"] > div:first-of-type img {
    width: 100%;
    height: 800px;
    object-fit: cover;
}

/* Utils */
.active-header {
    background: var(--white);
}

.overflow-hidden {
    overflow: hidden;
}

/* Rato sin usar @media */
@media screen and (max-width: 767px) {
    header section:last-of-type a:nth-of-type(2) {
        display: none;
    }

    header section:first-of-type a[tag="logo"] {
        display: flex;
        justify-content: center;
    }

    header section:first-of-type {
        max-width: unset;
    }

    header section:last-of-type {
        gap: unset;
    }

    section[tag="sub-hearder"] div {
        display: flex;
        justify-content: center;
        width: 70%;
    }

    section[tag="banner"] img[alt="banner"] {
        display: none;
    }

    nav[tag="nav-menu"] {
        margin-top: 43px;
    }
    
    a[tag="close-nav"] {
        margin-top: 43px;
    }

    nav[tag="nav-menu"] div[tag="head-nav"] a {
        font-size: 12px;
        width: 25%;
    }

    nav[tag="nav-menu"] div[tag="head-nav"] a[tag="close-btn-nav"],
    nav[tag="nav-menu"] div[tag="head-nav"] a:first-of-type {
        border-bottom: unset;
        width: 50%;
    }

    nav[tag="nav-menu"] div[tag="head-nav"] a:first-of-type {
        justify-content: flex-start;
        padding-left: 35px;
    }

    nav[tag="nav-menu"] div[tag="head-nav"] a[tag="close-btn-nav"] {
        padding-right: 35px;
        justify-content: flex-end;
    }

    section[tag="sub-hearder"] span {
        font-size: 12px;
    }

    footer[tag="footer"] > section:last-of-type div:first-of-type a {
        width: 100%;
    }

    footer[tag="footer"] > section:last-of-type div:last-of-type {
        display: flex;
        justify-content: center;
        align-items: center;
        border-top: 1px solid var(--outline-divider-alt);
        margin: auto;
        width: 100%;
        height: 70px;
        text-align: center;
    }

    footer[tag="footer"] > section:first-of-type div[tag="head-option"] {
        max-width: max(calc(25% - 20px), 500px);
    }
}

/* Rato sin usar @media */
@media screen and (min-width: 768px) {
    nav[tag="nav-menu"] div[tag="footer-nav"] div[tag="line"]:last-of-type,
    nav[tag="nav-menu"] div[tag="head-nav"] a[tag="close-btn-nav"],
    section[tag="banner"] img[alt="banner-mobile"] {
        display: none;
    }

    section[tag="banner-two-columns"] a {
        max-width: calc(50% - 10px);
    }
}

/* Rato sin usar @media */
@media screen and (min-width: 1980px) {
    nav[tag="nav-menu"] {
        left: calc( (100% - 1980px) / 2);
    }
}